.nom{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    border: 2px black solid;
    width: 300px;
    height: 100px;
    margin: 200px 400px 100px 500px;
    background-color: white;
}
/* .parrafo1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
} */
body{
    background-color: aquamarine;
}
.por1{
    font-family: Times New Roman;
    font-size:100;
}